.nav-container{
    background-color: var(--preto-azulado);
    height: auto;
    font-size: 1.75rem;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--vermelho-claro);
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Para esconder o overflow dos pseudoelementos */
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-out, -webkit-text-stroke-width 0.3s ease-out, color 0.3s ease-out;
}

h1::before {
    color: var(--vermelho);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--preto);
    transform: translate(3px, -3px);
}

h1::after {
    color: var(--amarelo);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--preto);
    transform: translate(6px, -6px);
}

h1:hover::before {
    transform: translate(3px, -3px);
}

h1:hover::after {
    transform: translate(6px, -6px);
}


.nav-link{
    color: var(--vermelho-claro);
}

.nav-link:hover{
    color:var(--amarelo);
}

.nav-bloco-lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
}

.titulo{
    display: none;
}

@media screen and (max-width:864px) {
    h1{
        font-size: 30px;
    }
    
    .nav-container{
        font-size: 20px;
    }
}

@media screen and (max-width:680px) {
    /* .titulo-personalizado{
        display: none;
    } */
    
    .nav-container{
        font-size: 14px;
        font-weight: 100;
    }

    /* .titulo{
        display: block;
    } */
}

@media screen and (max-width:494px) {
    .nav-link{
        font-size: 14px;
        font-weight:normal;
    }

    h1{
        font-size: 28px;
    }
}

@media screen and (max-width:444px) {

    h1{
        font-size: 16px;
    }
}